.footer{
  position:fixed;
  bottom:-5;
  width:100%;
  text-align: center;
}

.page-heading{
  text-align: center;
  width:90%;
  background-image: linear-gradient(150deg,green,white);
  margin-top: 2%;
  padding-top: 2%;
}

.page-content{
  margin:5%;
  padding:5%;
}

.Aboutme {
  background-color: coral;
}